.login{
    background: #fff;
    .loginWrap{
        width: 100%;
        overflow: hidden;
        a{
            text-decoration: none;
            color: #333;
        }
            .logo{
                text-align: center;
                margin-top: 0.74667rem;
                margin-bottom: 0;
                height: 2.8rem;
                img{
                    width: 2.56rem;
                    height: 0.85333rem;
                }
            }
            .u-tab{
                position: absolute;
                top: 8.25rem;
                margin-right: 0.8rem;
                bottom: 2.22rem;
                right: 0;
                padding: 0;
                font-size: 0.38rem;
                z-index: 20;
            }
            .foot{
                padding: 0 0.53333rem;
                a{
                    text-decoration: none;
                }
                .loginbox{
                    position: relative;
                    margin: 0.426rem 0 0.313rem 0;
                    top: 0;
                    left: 0;
                    bottom: 0.426rem;
                    width: 100%;
                    .u-loginbtn{
                        position: relative;
                        margin-left: 0.25rem;
                        background: #b4282d;
                        height: 1.28rem;
                        font-size: 0.4rem;
                        line-height: 1.28rem;
                        border-radius: 3px;
                        display: block;
                        width: 95%;
                        cursor: pointer;
                        text-align:center;
                        color: #fff;
                    }
                }
               
                .w-button{
                    border-radius: 2px;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 0.37333rem;
                    border: 1px solid #b4282d;
                    overflow: hidden;
                }
                .w-button-block{
                    display: block;
                    width: 95%;
                    margin-left: 0.2rem;
                }
                .w-button-xl{
                    height: 1.2rem;
                    line-height: 1.2rem;
                }
                .w-button-ghostRed{
                    border-color: #b4282d;
                    color: #b4282d;
                    background-color: transparent;
                }
            }
            .btn{
                text-align: center;
                span{
                    font-size: 0.37333rem;
                    line-height: 0.53333rem;
                    color: #333;
                }
            }
            .btn-1{
                margin-top: 0.42667rem;
            }
        }
    .loginWrap-1{
        visibility: visible;
        height: auto;
    }
}

//PhoneInput 的样式
.inputbox{
    .u-input{
         width: 90%;
         padding: 0 0 0.3rem 0.3rem;
        input{
            margin: 0.5rem;
            font-size: 0.35rem;
            padding-bottom: 0.3rem;
            width: 95%;
            border: 0;
            border-bottom: 0.2px solid #979797;
        }
        .pcbtn{
            position: absolute;
            right: 0.9rem;
            top: 6.5rem;
            z-index: 100;
            a{
                display: block;
                width: 2.3rem;
                height: 0.75rem;
                text-align: center;
                color: #333;
                font-size: 0.4rem;
                background: #fff;
                line-height: 0.75rem;
                text-decoration: none;
                border: 1px solid #7F7F7F;
                border-radius: 4px;
            }
        }
        .m-unlogin{
            // width: 95%;
            height: 0.582rem;
            line-height: 0.582rem;
            padding: 0.1rem 0 0.1rem 0;
            a{
                text-decoration: none;
                color: #7F7F7F;
                font-size: 0.38rem;
                margin-left: 0.5rem;
            }
            .forget{
                margin-left: 5.2rem;
            }
            
        }
        
    }
 }