.login {
  background: #fff;
}
.login .loginWrap {
  width: 100%;
  overflow: hidden;
}
.login .loginWrap .logo {
  text-align: center;
  margin-top: 0.74667rem;
  margin-bottom: 0;
}
.login .loginWrap .logo img {
  width: 2.56rem;
  height: 0.85333rem;
}
.login .loginWrap .ursBox {
  margin-top: 0.53333rem;
}
.login .loginWrap .foot {
  padding: 0 0.53333rem;
}
.login .loginWrap .foot a {
  text-decoration: none;
}
.login .loginWrap .foot .w-button {
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
  font-size: 0.37333rem;
  border: 1px solid #b4282d;
  overflow: hidden;
}
.login .loginWrap .foot .w-button-block {
  display: block;
  width: 100%;
}
.login .loginWrap .foot .w-button-xl {
  height: 1.25333rem;
  line-height: 1.25333rem;
}
.login .loginWrap .foot .w-button-ghostRed {
  border-color: #b4282d;
  color: #b4282d;
  background-color: transparent;
}
.login .loginWrap .btn {
  text-align: center;
}
.login .loginWrap .btn span {
  font-size: 0.37333rem;
  line-height: 0.53333rem;
  color: #333;
}
.login .loginWrap .btn-1 {
  margin-top: 0.42667rem;
}
.login .loginWrap-1 {
  visibility: visible;
  height: auto;
}
