body {
  background: #fff;
}
.reg {
  background: #fff;
}
.reg .view {
  width: 100%;
  overflow: hidden;
}
.reg .view .title {
  margin-top: 0.40667rem;
  padding: 0 0.53333rem 0 0;
  text-align: center;
  height: 3rem;
}
.reg .view .title span {
  font-size: 0.48rem;
  line-height: 0.69333rem;
  color: #333;
}
.reg .view .foot {
  padding: 0 0.53333rem;
}
.reg .view .foot a {
  text-decoration: none;
}
.reg .view .foot .btn {
  text-align: center;
}
.reg .view .foot .btn span {
  font-size: 0.37333rem;
  line-height: 0.53333rem;
  color: #333;
}
.reg .view .foot .btn-2 {
  margin-top: 0.54667rem;
}
.reg .view .foot .btn-2 .icon-fanhui {
  font-size: 0.55rem;
  color: #333;
}
.inputbox .u-input {
  width: 90%;
  padding: 0 0 0.3rem 0.3rem;
}
.inputbox .u-input input {
  margin: 0.5rem;
  font-size: 0.35rem;
  padding-bottom: 0.3rem;
  width: 95%;
  border: 0;
  border-bottom: 0.2px solid #979797;
}
.inputbox .u-input .pcbtn {
  position: absolute;
  right: 0.9rem;
  top: 6.5rem;
  z-index: 100;
}
.inputbox .u-input .pcbtn a {
  display: block;
  width: 2.3rem;
  height: 0.75rem;
  text-align: center;
  color: #333;
  font-size: 14px;
  background: #fff;
  line-height: 0.75rem;
  text-decoration: none;
  border: 1px solid #7F7F7F;
  border-radius: 4px;
}
.inputbox .u-input .loginbox {
  position: relative;
  margin: 0.426rem 0 0.313rem 0;
  top: 0;
  left: 0;
  bottom: 0.426rem;
  width: 100%;
}
.inputbox .u-input .loginbox a {
  text-decoration: none;
}
.inputbox .u-input .loginbox .u-loginbtn {
  position: relative;
  margin-left: 0.4rem;
  background: #b4282d;
  height: 1.28rem;
  font-size: 0.4rem;
  line-height: 1.28rem;
  border-radius: 3px;
  display: block;
  width: 95%;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.inputbox .fur-item {
  position: relative;
  font-size: 0.35rem;
  padding-bottom: 0.4rem;
  width: 95%;
  margin-left: 0.8rem;
}
.inputbox .fur-item .check {
  border: 1px solid #7f7f7f;
  margin-right: 0.1rem;
}
.inputbox .fur-item .check input {
  opacity: 0;
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0.375rem;
  font-weight: normal;
  background: #fff;
  padding-left: 0;
  color: #333;
}
.inputbox .fur-item a {
  text-decoration: none;
  color: #007AFF;
  line-height: 20px;
  cursor: pointer;
}
.inputbox .fur-agree {
  color: #7f7f7f;
}
