body{
    background: #fff;
}
.reg{
    background: #fff;
    .view{
        width: 100%;
        overflow: hidden;
        .title{
            margin-top: 0.40667rem;
            padding: 0 0.53333rem 0 0;
            text-align: center;
            span{
                font-size: 0.48rem;
                line-height: 0.69333rem;
                color: #333;
            }
        }
        .ursBox{
            margin-top: 0.53333rem;
        }
        .ursBox-3{
            height: 8.82667rem;
        }
        .foot{
            padding: 0 0.53333rem;
            a{
                text-decoration: none;
            }
            .btn{
                text-align: center;
                span{
                    font-size: 0.37333rem;
                    line-height: 0.53333rem;
                    color: #333;
                }
            }
            .btn-2{
                margin-top: 0.74667rem;
            }
            
        }
    }
   
}
