.reg {
  background: #fff;
}
.reg .view {
  width: 100%;
  overflow: hidden;
}
.reg .view .title {
  margin-top: 0.40667rem;
  padding: 0 0.53333rem 0 0;
  text-align: center;
  height: 3rem;
}
.reg .view .title span {
  font-size: 0.48rem;
  line-height: 0.69333rem;
  color: #333;
}
.reg .view .ursBox {
  margin-top: 0.53333rem;
}
.reg .view .ursBox-3 {
  height: 8.82667rem;
}
.reg .view .foot {
  padding: 0 0.53333rem;
}
.reg .view .foot a {
  text-decoration: none;
}
.reg .view .foot .btn {
  text-align: center;
}
.reg .view .foot .btn span {
  font-size: 0.37333rem;
  line-height: 0.53333rem;
  color: #333;
}
.reg .view .foot .btn-2 {
  margin-top: 0.74667rem;
}
.inputbox .u-input {
  width: 90%;
  padding: 0 0 0.3rem 0.3rem;
}
.inputbox .u-input input {
  margin: 0.5rem;
  font-size: 0.35rem;
  padding-bottom: 0.4rem;
  width: 95%;
  border: 0;
  border-bottom: 0.2px solid #979797;
}
.inputbox .u-input .pcbtn {
  position: absolute;
  right: 0.9rem;
  top: 6.7rem;
  z-index: 100;
}
.inputbox .u-input .pcbtn a {
  display: block;
  width: 2.3rem;
  height: 0.75rem;
  text-align: center;
  color: #333;
  font-size: 14px;
  background: #fff;
  line-height: 0.75rem;
  text-decoration: none;
  border: 1px solid #7F7F7F;
  border-radius: 4px;
}
