.search-box{
  width: 10rem;
  margin-right: auto;
  margin-left: auto;
  background: #ffffff;
  .up{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 1.16rem;
    width:100%;
    .search{
      padding: 0 0.4rem;
      line-height: 1.5;
      margin: 0.2rem  0;
      .box{
        padding-top: 0;
        padding-left: 0.26rem;
        background: #f4f4f4;
        height: 0.75rem;
        border-radius: 4px;
        font-size: 0.37rem;
        line-height: 0.75rem;
        width: 7.8rem;
        display: inline-block;
        input{
          line-height: 0.53rem;
          padding-left: 0.026rem;
          border: none;
          background-color: transparent;
          box-shadow: none;
          outline: 0;
          width: 6rem;
          font-size: 0.37rem;
        }
      }
      .cancel{
        margin-left: 0.4rem;
        font-size: 0.37rem;
        display: inline-block;
      }
    }
  }
  .down{
    margin-top: 1.17rem;
    .searchview{
      margin-bottom: 0.26rem;
      padding: 0  0.4rem 0.4rem;
      .top{
        height: 1.2rem;
        font-size: 0.37rem;
        color: #999;
      }
    }
  }
}