.header {
  height: 1.16rem;
  background-color: #fafafa;
  position: relative;
}
.header .row {
  z-index: 1;
  width: 10rem;
  margin: auto;
  position: relative;
  padding: 0 0.21333rem 0 0.32rem;
  height: 1.17333rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.header .row a {
  text-decoration: none;
}
.header .row .logo {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  left: 0;
  margin: auto;
}
.header .row .u-icon-logo {
  width: 2.29333rem;
  height: 0.72rem;
  background-position: 0 -1.7067rem;
  display: inline-block;
  vertical-align: middle;
  background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/hd-s9f33319f5a-164b37c9ce.png);
  background-repeat: no-repeat;
  background-size: 2.29333rem 5.6rem;
}
.header .row .iconfont {
  font-size: 28px;
  color: #666;
  font-weight: 200;
}
.header .row .icon-shouye {
  width: 0.64rem;
  height: 0.58667rem;
  background-position: 0 -0.98667rem;
  left: 0.32rem;
}
.header .row .right {
  margin-left: auto;
  margin-right: 0.6667rem;
}
.header .row .right .icon-gouwuche {
  margin-left: 0.4rem;
  font-size: 40px;
  font-weight: 400;
}
